@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 5 5 5; /* #050505 */
  --foreground: 255 255 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, .font-rajdhani {
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37; 
}

/* Basic appearance animation */
.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}